.card-container {
  display: flex;
  flex-flow: wrap;
  margin: 8px;
  padding: 20px;
}

.card-head {
  background-color: #00a4ef;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -16px;
}
.card-body {
  float: left;
}

.card-tags {
  padding: 5px;
  margin: 3px;
  background-color: lightgray;
  border-radius: 3px;
}


#title-link {
  margin-top: -15px;
  text-align: left;
  display: block;
}

.card,
.DocumentCard {
  width: 260px;
  height: 200px;
  position: relative;
  border: 1px solid #898989;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-flow: wrap;
  padding: 16px;
  margin: 12px;
  border-radius: 6px;
}

.card-tags {
  margin-top: 5px;
  display: inline-block;
  width: auto;
  font-size: 75%;
}

.image-wrapper {
  position: relative;
  top: -20px;
}

.image {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border-color: #00a4ef;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.column-left {
  float: left;
  width: 25;
}

.column-right {
  display:flex;
  flex-flow: wrap;
  min-width: auto;
}
