.card-container {
  display: flex;
  flex-flow: wrap;
  margin: 8px;
  padding: 20px;
}

.card-head {
  background-color: #0078d4;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -16px;
}

.card-bottom {
  position: absolute;
  bottom: 5px;
  align-content: left;
}

.card-tags {
  padding: 4px;
  margin: 3px;
  background-color: lightgray;
  border-radius: 3px;
  margin-top: 5px;
  display: inline-block;
  width: auto;
  font-size: 70%;
}

.card-title-link {
  margin-top: 15px;
  margin-right: 15px;
  text-align: left;
  display: block;
  font-size: 110%;
}

#title-link {
  text-decoration: none;
  font-weight: normal !important;
}

.card-type {
  position: absolute;
  margin-top: 75px;
  font-size: 75%;
  padding-bottom: 5%;
}

.card,
.DocumentCard {
  float: right;
  width: 260px;
  height: 200px;
  position: relative;
  border: 1px solid #898989;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-flow: wrap;
  padding: 16px;
  margin: 4px;
  border-radius: 6px;
}

.card-duration {
  font-size: 75%;
  color: #555555;
}

.image-wrapper {
  position: absolute;
  top: 25px;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border-color: #0078d4;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.column-left {
  float: left;
  width: 25;
}

.column-right {
  display: flex;
  flex-flow: wrap;
  min-width: auto;
}
